{% extends "base.html" %}

{% block title %}Acceso a conecta{% endblock %}

{% block content %}

<div class="form-container">
  <h2>Ordenar archivos electrónicos</h2>
  <form action="{% url 'api_ordenar_documentos' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <!-- Subida de archivo -->
      <label for="archivo">📄 Selecciona el listado de la DIAN:</label>
      <input type="file" id="archivo" name="archivo" 
             accept=".csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">

      <!-- Campo para ingresar ruta -->
      <label for="ruta">📂 Ingresar la ruta de la carpeta:</label>
      <input type="text" id="ruta" name="ruta" placeholder="Ejemplo: C:/Users/Juan/Documentos/">

      <!-- Campo para ingresar modo -->
      <label for="modo">⚙️ Tipo de operación:</label>
      <select id="modo" name="modo" class="form-select">
        <option value="compras">Compras</option>
        <option value="ventas">Ventas</option>
      </select>

      <button type="submit">🚀 Comenzar</button>
  </form>
</div>

{% endblock %}