  {% extends "base.html" %}

  {% block title %}Descarga APP{% endblock %}
  {% block estilo %}
  <style>
  textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 14px;
      resize: vertical;
      min-height: 120px;
      box-sizing: border-box;
    }
    </style>
  {% endblock %}
  {% block content %}
  <div class="form-container">
    <h2>Acceso a Conecta</h2>
    <form action="{% url 'dian_descargar_run' %}" method="post">
      {% csrf_token %}

        <!-- Caja de texto grande para Cufes -->
        <label for="cufes">🌐 CUFEs:</label>
        <textarea id="cufes" name="cufes" rows="10" cols="80" 
          placeholder="Pega aquí tus CUFEs, uno por línea" 
          required 
          oninvalid="this.setCustomValidity('Por favor ingresa al menos un CUFE')" 
          oninput="this.setCustomValidity('')"></textarea>

        <!-- Campo para el token -->
        <label for="token">🔑 Token de la DIAN:</label>
        <input type="text" id="token" name="token" 
          placeholder="Ingresa tu token de la DIAN" 
          required 
          oninvalid="this.setCustomValidity('El token de la DIAN es obligatorio')" 
          oninput="this.setCustomValidity('')">
      <!-- Botón de acción -->
      <button type="submit">⬇️ Descargar</button>
    </form>
  </div>
  {% endblock %}