{% extends "base.html" %}

{% block title %} Informe DIAN {% endblock %}

{% block content %}

<div class="form-container">
  <h2>Generar informe listado DIAN</h2>
<form action="{% url 'api_informe_listado_dian' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- Subida de archivo -->
    <label for="archivo">📄 Archivo :</label>
    <input type="file" id="archivo" name="archivo" accept=".csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
    <button type="submit">🚀 Comenzar</button>
  </form>
</div>

{% endblock %}